@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap");
.section,
.main,
.article,
.footer,
.showUrl {
    min-height: 1px;
    font-family: "Poppins", sans-serif;

    @media screen and (min-width: 900px) {
        min-width: 860px;
        max-width: 1440px;
    }
}
