@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap");

a {
  cursor: pointer;
}
.nav {
  background-color: #fff;
  width: 100%;
  z-index: 3;
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.nav li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.nav li a:hover,
.nav .menu-btn:hover {
  background-color: gray;
}

.nav .logo {
  display: block;
  float: left;
  font-size: 34px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.nav .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  li {
    background-color: #3a3054;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    &:first-of-type {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &:last-of-type {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    a {
      color: white;
      font-size: 16px;
      line-height: 27px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.nav .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  color: gray;
}

.nav .menu-icon .navicon {
  background: gray;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.nav .menu-icon .navicon:before {
  background: gray;
  top: 5px;
}

.nav .menu-icon .navicon:after {
  background: gray;
  top: -5px;
}

.nav .menu-btn {
  display: none;
}

.nav .menu-btn:checked ~ .menu {
  max-height: 380px;
}

.nav .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (min-width: 900px) {
  .nav li {
    float: left;
  }
  .nav li a {
    padding: 20px 30px;
  }
  .nav .menu {
    clear: none;
    float: right;
    max-height: none;
    li {
      background-color: #fff;
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;
      &:first-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      &:last-of-type {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      a {
        color: gray;
        font-size: 22px;
        line-height: 27px;
        font-weight: 800;
        text-transform: uppercase;
        &:hover {
          color: #000000;
        }
      }
    }
  }
  .nav .menu-icon {
    display: none;
  }
  .nav li a:hover,
  .nav .menu-btn:hover {
    background-color: white;
  }
}
