@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap");

.main {
    margin-top: 30px;

    div {
        &:first-of-type {
            form {
                height: 130px;
                width: 95%;
                margin-left: 20px;
                margin-right: 20px;
                background: linear-gradient(
                    177deg,
                    rgba(0, 0, 0, 1) 0%,
                    rgba(85, 42, 85, 1) 27%,
                    rgba(75, 63, 107, 1) 28.000000000000004%,
                    rgba(75, 63, 107, 1) 100%
                );
                @media screen and (min-width: 900px) {
                    height: 100px;
                }

                input {
                    display: inline-block;
                    font-family: "Poppins", sans-serif;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    height: 30px;
                    width: 90%;
                    margin: 12px 5% 0;
                    outline: none;
                    border: 0;
                    padding: 0;
                    padding-left: 10px;
                    @media screen and (min-width: 900px) {
                        margin: 30px 0px 0px 20px;
                        float: left;
                        width: 65%;
                        &::after {
                            content: "";
                            display: block;
                            clear: both;
                        }
                    }
                }

                button {
                    display: inline-block;
                    margin: 34px 15% 12px;
                    height: 30px;
                    width: 70%;
                    background-color: #2bd0d0;
                    border: 0;
                    padding: 0;
                    padding-left: 4px;
                    color: #fff;
                    line-height: 30px;
                    font-size: 16px;
                    font-weight: 700;
                    cursor: pointer;
                    &:hover {
                        background-color: #9ae3e3;
                    }
                    @media screen and (min-width: 900px) {
                        float: right;
                        width: 26%;
                        margin: 30px 20px;
                        &::after {
                            content: " ";
                            display: block;
                            clear: both;
                        }
                    }
                }
                .validMessage {
                    p {
                        margin: -72px 5% 1px;
                        color: #ff0000;
                        font-size: 12px;
                        @media screen and (min-width: 900px) {
                            float: left;
                            margin: 4px 20px;
                            &::after {
                                content: "";
                                display: block;
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }
}
