.showUrl {
    width: 95%;
    max-width: 1440px;
    margin: 20px 20px;

    .containerUrl {
        height: 145px;
        width: 100%;
        background: #ffffff;
        border-radius: 20px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-bottom: 20px;
        @media screen and (min-width: 900px) {
            display: flex;
            flex-direction: row;
            height: 80px;
            margin-top: 25px;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            line-height: 36px;
            letter-spacing: 0.12px;
            margin: 8px 15px;
            @media screen and (min-width: 900px) {
                font-size: 18px;
                margin-top: auto;
                margin-bottom: auto;
            }
            &:first-of-type {
                color: #34313d;
                @media screen and (min-width: 900px) {
                    width: 45%;
                }
            }
            &:last-of-type {
                color: #2bd0d0;
                @media screen and (min-width: 900px) {
                    width: 35%;
                    margin-right: -28px;
                }
            }
        }
        button {
            height: 40px;
            width: 95%;
            margin: 0 15px;
            cursor: pointer;
            background-color: #2bd0d0;
            outline: none;
            border: none;
            font-size: 16px;
            font-style: normal;
            font-weight: bold;
            line-height: 95%;
            text-align: center;
            color: #ffffff;
            @media screen and (min-width: 900px) {
                width: 15%;
                margin-top: auto;
                margin-bottom: auto;
            }
            &:hover {
                background-color: #9ae3e3;
            }
        }
    }
}
