.article {
    width: 95%;
    margin: 20px 20px;
    max-width: 1440px;
    @media screen and (min-width: 900px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }
    .advancedStatistics {
        width: 95%;
        margin: 70px auto 0;
        font-style: normal;
        text-align: center;
        @media screen and(min-width:900px) {
            display: block;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 100%;
            align-self: auto;
            order: 0;
            margin-bottom: 35px;
        }
        h2 {
            font-size: 28px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -0.7px;
            color: #34313d;
        }
        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.11px;
            color: #9e9aa8;
        }
    }
    .brandRecognition {
        height: 200px;
        width: 100%;
        margin: 80px 0;
        font-style: normal;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 4px 14px 4px rgba(43, 208, 208, 0.6);
        position: relative;
        @media screen and(min-width:900px) {
            height: calc(100% + 10px);
            display: block;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 29%;
            align-self: auto;
            order: 0;
            margin: 40px 30px 0 20px;
            position: relative;
        }
        div {
            &:first-of-type {
                position: absolute;
                top: -50px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                height: 100px;
                width: 100px;
                background-color: #3a3054;
                border-radius: 50%;
                img {
                    height: 60px;
                    width: 60px;
                    margin: -60px auto;
                }
            }
        }
        h3 {
            display: inline-block;
            margin: 70px auto 0;
            font-size: 22px;
            line-height: 33px;
            font-weight: 700;
        }
        p {
            margin: 5px 10px;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            line-height: 26px;
        }
        .line {
            border-left: 6px solid #2bd0d0;
            height: 30px;
            position: absolute;
            top: 200px;
            left: 50%;
            margin-left: -3px;
            @media screen and (min-width: 900px) {
                border-left: 0;
                border-bottom: 6px solid #2bd0d0;
                height: 0;
                width: 30px;
                top: 50%;
                left: 101%;
                transform: translateY(-50%);
            }
        }
    }
    .detailedRecords {
        height: 200px;
        width: 100%;
        margin: 80px 0;
        font-style: normal;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 4px 14px 4px rgba(43, 208, 208, 0.6);
        position: relative;
        @media screen and(min-width:900px) {
            height: calc(100% + 10px);
            display: block;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 29%;
            align-self: auto;
            order: 0;
            margin: 80px 30px 0 0;
            position: relative;
        }
        div {
            &:first-of-type {
                position: absolute;
                top: -50px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                height: 100px;
                width: 100px;
                background-color: #3a3054;
                border-radius: 50%;
                img {
                    height: 60px;
                    width: 60px;
                    margin: -60px auto;
                }
            }
        }
        h3 {
            display: inline-block;
            margin: 70px auto 0;
            font-size: 22px;
            line-height: 33px;
            font-weight: 700;
        }
        p {
            margin: 5px 10px;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            line-height: 26px;
        }
        .line {
            border-left: 6px solid #2bd0d0;
            height: 30px;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            top: 200px;
            @media screen and (min-width: 900px) {
                border-left: 0;
                border-bottom: 6px solid #2bd0d0;
                height: 0;
                width: 30px;
                top: 50%;
                left: 101%;
                transform: translateY(-50%);
            }
        }
    }
    .fullyCustomizable {
        height: 200px;
        width: 100%;
        margin: 80px 0;
        font-style: normal;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 4px 14px 4px rgba(43, 208, 208, 0.6);
        position: relative;
        @media screen and(min-width:900px) {
            height: calc(100% + 10px);
            display: block;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 29%;
            align-self: auto;
            order: 0;
            margin: 120px 20px 0 0;
        }
        div {
            position: absolute;
            top: -50px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            height: 100px;
            width: 100px;
            background-color: #3a3054;
            border-radius: 50%;
            img {
                height: 60px;
                width: 60px;
                margin: -60px auto;
            }
        }
        h3 {
            display: inline-block;
            margin: 70px auto 0;
            font-size: 22px;
            line-height: 33px;
            font-weight: 700;
        }
        p {
            margin: 5px 10px;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            line-height: 26px;
        }
    }
}
